<div class="blog-header">
    <h1 class="blog-title">BlogEngine Example</h1>
    <p class="lead blog-description">An example of a blog created using <a href="https://github.com/TimCollins/BlogEngine">BlogEngine</a>.</p>
</div>
