<div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
        <li><a href="http://www.github.com/">GitHub</a></li>
        <li><a href="http://www.twitter.com/">Twitter</a></li>
        <li><a href="http://www.facebook.com/">Facebook</a></li>
    </ol>
</div>
