@{
    ViewBag.Title = "BlogEngine Homepage";
}

@model IEnumerable<BlogEngine.Models.ViewModels.PostSummary>

@{Html.RenderPartial("~/Views/Shared/_MainMenu.cshtml", new ViewDataDictionary {{ "MenuID", 1}});}

<div class="container">

    @{Html.RenderPartial("~/Views/Shared/_Header.cshtml");}

    <div class="row">
        <p>
            @Html.ActionLink("Create Post", "Create", "Post", null, new {@class = "btn btn-primary btn-lg", @role = "button"})
        </p>

        <div class="col-sm-8 blog-main">
            @foreach (var postSummary in Model)
            {
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        @Html.ActionLink(postSummary.Subject, "Show", "Post", new {id = postSummary.PostID}, new {title = postSummary.Summary})
                    </h2>                    
                    <p class="blog-post-meta">Posted @postSummary.DateDetails by 
                        @Html.ActionLink(postSummary.UserName, "Details", "User", new {id = postSummary.UserID}, new {title = postSummary.UserName})
                    </p>
                </div>
            }

            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            @{Html.RenderPartial("~/Views/Shared/_AuthorSummary.cshtml");}

            @{Html.RenderPartial("~/Views/Shared/_BlogArchives.cshtml");}
            
            @{Html.RenderPartial("~/Views/Shared/_Links.cshtml");}
        </div>

    </div>
</div>